@import url("normalise.css");
@import url("dropDown.css");



body{
    background: -webkit-linear-gradient(45deg, hsla(294, 56%, 54%, 1) 0%, hsla(257, 57%, 39%, 1) 100%);
    color:white;
   
}

header{
    
    color:white;
    font-family:'Montserrat Alternates',sans-serif; 
    
   
}

nav{
    display:flex;
    flex-direction:row;
    justify-content:space-around ;
    padding:5%;
    background-color:rgba(0, 0, 0, 0.068);
    
}

.linkList{
    list-style:none;
    padding: 0.5em;;
    background-color:rgba(247, 0, 255, 0.561);
   
     border-radius:  15px;

}

.nav_links{
    text-decoration: none!important;
    
    color:white;
    
}

.logo{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:1rem;
    margin:auto;
}

.heading{
    color:white;
    text-align:center;
   
   
    font-family:'Montserrat Alternates', sans-serif;;
}

.custom-select{
    
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
    height:50px;
    width:85%;
    text-align:center;
    padding:20px;
    
}




.information{
    text-align:center;
}

.newGlobalStats{
  
    color:white;
    margin:1em;
    padding:0.3em;
    border-radius: 14px;
}

.allTimeGlobalStats{
    
    color:white;
    margin:1em;
    padding:0.3em;
    border-radius: 14px;
}


footer{
    font-size: 0.6em;
    background-color:rgba(0, 0, 0, 0.315);
    padding:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.links{
    border-radius:10px;
   background-color: white;
   width:30%;
   padding:0.5em;
   font-size: 2.5em;
   text-align:center;
}

.deaths{
    color:rgba(251, 25, 25, 0.856);
}

.recover{
    color:greenyellow;
}


.box{
    background-color: rgba(0, 0, 0, 0.157);
    margin:1.5em;
    border-radius:10px;
    padding: 0.2em;

   
    
}

.heading{
    font-weight:bold;
    font-size:1.5em;
    
}

.mainHeading{
    font-family: 'Arimo', sans-serif;
}

h2{
    margin:2rem;
}

@media(min-width:500px){

   
    
    .logo{
        margin-right:70%;
    }

    nav{
        padding:20px;
        margin-bottom:3rem;
    }

}

@media(min-width:1000px){

    .heading{
        margin-left: 9%;
    }

    select{
        width:80%;
        margin-right:15%;

    }

    select{
        width:90%;
    }

    .mainSection{
        display:flex;
    }

    .logo{
        margin-right:80%;
    }

    .information{
        display:flex;
        justify-content:space-around;
        margin:3em;
         height:85vh;
     
    }
    
    .links{
        border-radius:10px;
       background-color: white;
       width:10%;
       padding:0.5em;
       font-size: 2.5em;
       text-align:center;
    }
    .newGlobalStats{
        width:40rem;
        text-align:center;
    }

    .allTimeGlobalStats{
        width:40rem;
       
    }

    footer{
        justify-content:space-between;
       
    }

    



}